@using (Html.BeginForm("Index", "Signup", FormMethod.Post))
{
    <div class="input-field">
        <input type="email" id="email" name="email" autofocus="autofocus" class="validate"/>
	    <label for="email">Email Address</label>
	</div>

    <div class="input-field">
	    <input type="password" id="password" name="password" class="validate"/>
		<label for="password">Password</label>
    </div>

    <div class="input-field">
	    <input type="password" id="password2" name="password2" class="validate"/>
		<label for="password2">Confirm Password</label>
	</div>
	
    <button type="submit" class="btn">Signup</button>
}